In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import time
import random

In [2]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36'}

In [20]:
def get_courses(base_url):
    response = requests.get(base_url, headers=headers)
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')

    # print(name.text[47:-32])
    courses =[]
    # name = parsed_content.find("h1", {"class": "jsx-1970226350 text-white font-weight-bolder mt-0 mb-1 text-lg"})
    # courses.update({"name":name.text[47:-32]})

    main_container = parsed_content.find("div", {"class": "jsx-3749487892 jsx-2822574162 col-9"})
    for index, details in enumerate(main_container.find_all('div', {"class": "jsx-1440666465 jsx-2133140133 card border-0 course-card page_center_body_listing bg-white py-0 pt-3 pb-3 px-2 mx-0 my-2 avatar-container"})):
        ind_course = {}
        c_name = details.find("a", {"class": "jsx-1440666465 jsx-2133140133"})
        exams = details.find_all("a", {"class": "jsx-1440666465 jsx-2133140133 text-sidebar-heading"})
        score = details.find_all("span", {"class": "jsx-1440666465 jsx-2133140133 exam-score text-primary font-weight-bold"})
        extra = details.find_all("span", {"class": "jsx-1440666465 jsx-2133140133"}) # 0,1,2
        # fee = details.find("span", {"class":"jsx-1440666465 jsx-2133140133 fees font-weight-bolder mb-1"})
        ind_course.update({"course":c_name.text})
        for i,t in enumerate(extra[:2]):
            ind_course.update({"detail"  + str(i+1):t.text})
        for e,s in zip(exams,score):
            ind_course.update({e.text:s.text})
        courses.append(ind_course)
    return courses

In [11]:
def get_courses_content(base_url):
    response = requests.get(base_url, headers=headers)
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    print(parsed_content.prettify())

In [25]:
def get_uni():
    with open('main.html', 'r') as f:
        file = f.read()
        file.replace('\n','')
        cleaned_string = re.sub(r'\s+', ' ', file)
        
    parsed_content = BeautifulSoup(cleaned_string, 'html.parser')
    
    unis = []
    for para in parsed_content.find_all("tr", {"class": "jsx-3255989801 automate_client_img_snippet"}):
        college = {}
        rank = para.find("td", {"class": "jsx-3255989801 font-weight-medium text-lg"})
        name = para.find("span", {"class": "jsx-3255989801 w-100 position-relative d-flex align-items-start h-100"})
        state = para.find("span", {"class": "jsx-3255989801 text-gray text-md mr-2 text-capitalize"})
        # course = para.find('a', {'class': 'jsx-3255989801 text-black font-weight-medium text-lg mb-2'})
        acceptance = para.find_all("span", {"class": "jsx-3255989801 bg-gray font-weight-bold text-black mr-1 rounded-sm"})
        span_texts = [span.text.strip() if span else 'NA' for span in acceptance]
        other = para.find("a",{'data-csm-title':"Programs"})
        # fee = para.find("span", {"class": "jsx-3255989801 fees text-capitalize text-success text-lg font-weight-bold"})
        
        if span_texts:
            acceptance = span_texts[0][:-1]
        else:
            acceptance =  ''
        college.update({
                "rank":rank.text[1:],
                "name":name.a['data-csm-title'],
                "state":state.text,
                # "primary_course":course.span['title'],
                "acceptance rate": acceptance,
            })
        # details.update({"fee":fee.text, "other programs": "https://collegedunia.com" + other['href']}) if (fee.text) else details.update({"fee":"N/A", "other programs": "https://collegedunia.com" + other['href']})
        # print("adding-> " + college['name'])
        other_programs = get_courses("https://collegedunia.com" + other['href'])
        for ind_program in other_programs:
            print("adding-> " + college['name'] + " - " + ind_program['course'])
            program = {}
            program.update(college)
            program.update(ind_program)
            unis.append(program)
        # college.update(other_programs)
        # unis.append(details)
        time.sleep(random.randint(0,2))
        
    return unis

In [27]:
universities = get_uni()

adding-> Stanford University, Stanford - Master of Science [M.S] Statistics - Data Science
adding-> Stanford University, Stanford - Bachelor of Science [B.S] Computer Science - Artificial Intelligence
adding-> Stanford University, Stanford - Master of Science [M.Sc] Computer Science - Artificial Intelligence
adding-> Massachusetts Institute of Technology, Cambridge - Master of Science [M.S] Business Analytics
adding-> Massachusetts Institute of Technology, Cambridge - Bachelor of Science [B.S] Computer Science, Economics, and Data Science
adding-> Massachusetts Institute of Technology, Cambridge - Bachelor of Science [B.S] Business Analytics
adding-> Harvard University, Cambridge - Master of Science [M.S] Data Science
adding-> Harvard University, Cambridge - Master of Science [M.S] Health Data Science
adding-> Harvard University, Cambridge - Master Liberal Arts - Data Science
adding-> University of California, Berkeley - Master of  Analytics
adding-> University of California, Berkeley - Bachelor of Arts [B.A] Data Science
adding-> Yale University, New Haven - Master of Science [M.S] Statistics and Data Science
adding-> Yale University, New Haven - Doctor of Philosophy [Ph.D] Statistics and Data Science
adding-> Yale University, New Haven - Bachelor of Science [B.S] Statistics and Data Science
adding-> University of Chicago, Chicago - Master of Science [M.S] Analytics
adding-> University of Pennsylvania, Philadelphia - Master of Science [M.S] Engineering - Data Science
adding-> University of Pennsylvania, Philadelphia - Master of Business Administration [M.B.A] Business Analytics
adding-> Columbia University, New York City - Master of Science [M.S] Data Science
adding-> Columbia University, New York City - Master of Science [M.S] Business Analytics
adding-> Columbia University, New York City - Master of Science [M.S] Applied Analytics
adding-> Columbia University, New York City - Master of Science [M.Sc] Operations Research - Machine Learning and Artificial Intelligence
adding-> Columbia University, New York City - Bachelor of Science [B.S] Operations Research - Analytics
adding-> University of California, Los Angeles - Master of Science [M.S] Business Analytics
adding-> University of California, Los Angeles - Master of Science [M.S] Management - Business Analytics
adding-> University of Michigan, Ann Arbor - Master of Science [M.S] Data Science
adding-> University of Michigan, Ann Arbor - Bachelor of Science [B.S] Data Science
adding-> Carnegie Mellon University, Pittsburgh - Master of Science [M.S] Artificial Intelligence and Innovation
adding-> Carnegie Mellon University, Pittsburgh - Master of Computational Data Science
adding-> Carnegie Mellon University, Pittsburgh - Master of Science [M.S] Machine Learning
adding-> Carnegie Mellon University, Pittsburgh - Bachelor of Science [B.S] Statistics and Data Science
adding-> Carnegie Mellon University, Pittsburgh - Bachelor of Arts [B.A] Business Analytics
adding-> Carnegie Mellon University, Pittsburgh - Bachelors Of Sciences[B.S] Artificial Intelligence
adding-> University of Washington, Seattle - Master of Science [M.S] Data Science
adding-> University of Washington, Seattle - Master Business Analytics
adding-> Duke University, Durham - Master of Science [M.S] Data Science
adding-> New York University, New York City - Master of Science [M.S] Data Science
adding-> New York University, New York City - Master of Science [M.S] Business Analytics
adding-> New York University, New York City - Master of Science [M.S] Data Analytics and Business Computing
adding-> New York University, New York City - Master of Business Administration [M.B.A] Business Analytics
adding-> New York University, New York City - Bachelor of Science [B.S] Business
adding-> New York University, New York City - Master of Science [M.Sc] Data Analytics & Business Computing
adding-> New York University, New York City - Master of Business Administration [M.B.A] Financial Systems and Analytics
adding-> New York University, New York City - Bachelor of Arts [B.A] Computer Science and Data Science
adding-> Northwestern University, Evanston - Master of Science [M.S] Artificial Intelligence
adding-> Northwestern University, Evanston - Master of Science [M.S] Analytics
adding-> University of California, San Diego - Master of Science [M.S] Data Science
adding-> University of California, San Diego - Master of Science [M.S] Business Analytics
adding-> University of California, San Diego - Doctor of Philosophy [Ph.D] Data Science
adding-> University of California, San Diego - Master of Science [M.S] Machine Learning and Data Science
adding-> University of California, San Diego - Master of Science [M.S] Intelligent Systems, Robotics, And Control
adding-> Georgia Institute of Technology, Atlanta - Master of Science [M.S] Analytics
adding-> Georgia Institute of Technology, Atlanta - Master of Science [M.Sc] Analytics-Computational Data Analytics Track
adding-> University of Texas, Austin - Master of Science [M.S] Business Analytics
adding-> University of Texas, Austin - Bachelor of Science [B.S] Statistics and Data Sciences
adding-> University of Texas, Austin - Master of Science [M.S] Business Analytics
adding-> University of California, Davis - Master of Science [M.S] Business Analytics
adding-> University of Wisconsin, Madison - Master of Science [M.S] Biomedical Data Science
adding-> University of Wisconsin, Madison - Master of Science [M.S] Business Analytics
adding-> University of Wisconsin, Madison - Bachelor of Arts [B.A] Data Science
adding-> University of Wisconsin, Madison - Graduate Certificate Business Analytics
adding-> University of Wisconsin, Madison - Doctor of Philosophy [Ph.D] Biomedical Data Science
adding-> University of Wisconsin, Madison - Bachelor of Science [B.S] Data Science
adding-> University of Wisconsin, Madison - Master of Science [M.S] Data Science
adding-> Brown University, Providence - Master of Science [M.S] Data Science
adding-> Washington University, St. Louis - Master of Science [M.S] Data Analytics and Statistics
adding-> Washington University, St. Louis - Master of Science [M.S] Business Analytics
adding-> Washington University, St. Louis - Master of Science [M.S] Biostatistics and Data Science
adding-> University of North Carolina, Chapel Hill - Doctor of Philosophy [Ph.D] Operations, Supply Chain and Data Analytics
adding-> University of Southern California, Los Angeles - Master of Science [M.S] Computer Science - Data Science
adding-> University of Southern California, Los Angeles - Master of Science [M.S] Applied Data Science
adding-> University of Southern California, Los Angeles - Master of Science [M.S] Business Analytics
adding-> University of Southern California, Los Angeles - Doctor of Philosophy [Ph.D] Data Sciences and Operations
adding-> University of Southern California, Los Angeles - Master of Science [M.S] Analytics
adding-> University of Southern California, Los Angeles - Master of Science [M.S] Spatial Data Science
adding-> University of Southern California, Los Angeles - Master of Science [M.S] Electrical and Computer Engineering - Machine Learning and Data Science
adding-> University of Southern California, Los Angeles - Master of Science [M.S] Data Informatics
adding-> University of Southern California, Los Angeles - Graduate Certificate [Grad.Cert] Business Analytics
adding-> University of Southern California, Los Angeles - Bachelor of Arts [B.A] Data Science
adding-> University of Southern California, Los Angeles - Master of Science [M.S] Public Policy and Data Science
adding-> University of Southern California, Los Angeles - Master of Science [M.S] Public Health Data Science
adding-> University of Southern California, Los Angeles - Master of Science [M.S] Spatial Economics and Data Analysis
adding-> Boston University, Boston - Master of Science [M.S] Applied Data Analytics
adding-> Boston University, Boston - Master of Science [M.S] Business Analytics
adding-> Boston University, Boston - Master of Science [M.S] Applied Business Analytics
adding-> University of Minnesota - Twin Cities, Minneapolis - Master of Science [M.S] Data Science
adding-> University of Minnesota - Twin Cities, Minneapolis - Master of Science [M.S] Business Analytics
adding-> University of Minnesota - Twin Cities, Minneapolis - Master of Science [M.S] Business Analytics
adding-> University of Minnesota - Twin Cities, Minneapolis - Master of Science [M.S]/Master of Business Administration [M.B.A] Business Analytics
adding-> Purdue University, West Lafayette - Master of Science [M.S] Business Analytics and Information Management
adding-> Purdue University, West Lafayette - Bachelor of Science [B.S] Data Science
adding-> Purdue University, West Lafayette - Bachelor of Science [B.S] Data Visualization
adding-> University of California, Irvine - Master of Science [M.S] Business Analytics
adding-> University of California, Irvine - Bachelor of Science [B.S] Data Science
adding-> Vanderbilt University, Nashville - Master of Science [M.S] Data Science
adding-> Ohio State University, Columbus - Bachelor of Science [B.S] Data Analytics
adding-> Emory University, Atlanta - Master of Science [M.S] Business Analytics
adding-> University of Maryland, College Park - Master of Science [M.S] Data Science and Analytics
adding-> University of Maryland, College Park - Master of Science [M.S] Business Analytics
adding-> University of Maryland, College Park - Master of Science [M.S] Business Analytics
adding-> University of Maryland, College Park - Master Of Professional Studies Machine Learning
adding-> Michigan State University, East Lansing - Master of Science [M.S] Business Data Science and Analytics
adding-> Michigan State University, East Lansing - Master of Science [M.S] Business Analytics
adding-> Michigan State University, East Lansing - Master Business Data Science and Analytics
adding-> Texas A&M University, College Station - Master of Science [M.S] Data Science
adding-> Texas A&M University, College Station - Bachelor of Science [B.S] Visualization
adding-> Pennsylvania State University, State College - Master Data Analytics
adding-> Pennsylvania State University, State College - Bachelor of Science [B.S] Data Sciences
adding-> Pennsylvania State University, State College - Masterâ€™s in Business Analytics
adding-> Pennsylvania State University, State College - Bachelor of Science [B.S] Social Data Analytics
adding-> University of Massachusetts, Amherst - Master of Science [M.S] Business Analytics
adding-> University of Massachusetts, Amherst - Master of Science [M.S] Data Analytics and Computational Social Science
adding-> University of Rochester, Rochester - Master of Science [M.S] Data Science
adding-> University of Rochester, Rochester - Master of Science [M.S] Business Analytics
adding-> University of Rochester, Rochester - Master of Science [M.S] Business Analytics
adding-> University of Rochester, Rochester - Bachelor of Science [B.S] Data Science
adding-> University of Rochester, Rochester - Bachelor of Arts [B.A] Data Science
adding-> University of Colorado, Boulder - Master of Science [M.S] Data Science
adding-> University of Colorado, Boulder - Master of Science [M.S] Business Analytics
adding-> University of Colorado, Boulder - Bachelor of Arts [B.A] Statistics and Data Science
adding-> University of Arizona, Tucson - Master of Science [M.S] Data Science
adding-> University of Arizona, Tucson - Master of Science [M.S] Information Science - Machine Learning
adding-> University of Arizona, Tucson - Master of Science [M.S] Business Analytics
adding-> University of Arizona, Tucson - Master of Science [M.S] Statistics and Data Science
adding-> University of Arizona, Tucson - Master of Science [M.Sc] Biosystems Analytics & Tech
adding-> Case Western Reserve University, Cleveland - Master of Science [M.S] Computer Science and Data Science
adding-> Case Western Reserve University, Cleveland - Master of Science [M.S] Business Analytics and Intelligence
adding-> Case Western Reserve University, Cleveland - Bachelor of Science [B.S] Data Science and Analytics
adding-> Case Western Reserve University, Cleveland - Master of Science [M.Sc] Mechanical Engineering with Specialization in AI and Robotics
adding-> University of Virginia, Charlottesville - Master of Science [M.S] Business Analytics
adding-> Arizona State University, Tempe - Master of Science [M.S] Computer Science - Big Data Systems
adding-> Arizona State University, Tempe - Master of Science [M.S] Business Analytics
adding-> Arizona State University, Tempe - Master of Science [M.S] Robotics and Autonomous Systems - Artificial Intelligence
adding-> Arizona State University, Tempe - Master of Business Administration [M.B.A] Business Analytics
adding-> Arizona State University, Tempe - Master of Science [M.S] Biological Data Science
adding-> Arizona State University, Tempe - Master of Science [M.S] Robotics and Autonomous Systems - Systems Engineering
adding-> Arizona State University, Tempe - Master of Accountancy [M.Acc] Data Analytics
adding-> Arizona State University, Tempe - Master of Science [M.S] Robotics and Autonomous Systems - Electrical Engineering
adding-> Arizona State University, Tempe - Master of Science [M.S] Robotics and Autonomous Systems - Biomedical Engineering
adding-> Georgetown University, Washington - Master of Science [M.S] Data Science for Public Policy
adding-> Georgetown University, Washington - Master of Science [M.S] Business Analytics
adding-> Tufts University, Medford - Master of Science [M.S] Data Science
adding-> Indiana University, Bloomington - Master of Science [M.S] Data Science
adding-> Indiana University, Bloomington - Bachelor of Science [B.S] Business Analytics
adding-> Indiana University, Bloomington - Master of Science [M.S] Information Systems - Business Intelligence and Analytics
adding-> University of Notre Dame, Notre Dame - Master of Science [M.S] Business Analytics
adding-> University of Notre Dame, Notre Dame - Master of Science [M.S] Business Analytics [Chicago]
adding-> University of Notre Dame, Notre Dame - Master of Science [M.S] Business Analytics
adding-> Northeastern University, Boston - Master of Science [M.S] Data Science
adding-> Northeastern University, Boston - Master of Science [M.S] Business Analytics
adding-> Northeastern University, Boston - Master of Science [M.S] Data Analytics Engineering
adding-> Northeastern University, Boston - Master of Science [M.S] Analytics
adding-> Northeastern University, Boston - Master of Science [M.S] Applied Machine Intelligence
adding-> Northeastern University, Boston - Master of Science [M.S] Data Architecture and Management
adding-> Northeastern University, Boston - Master of Science [M.S] Artificial Intelligence
adding-> Northeastern University, Boston - Master of Science [M.S] Advanced and Intelligent Manufacturing
adding-> Northeastern University, Boston - Bachelor of Science [B.S] Data Science
adding-> Northeastern University, Boston - Master of Professional Studies Applied Machine Intelligence
adding-> Northeastern University, Boston - Bachelor of Science [B.S] Data Science and Physics
adding-> Northeastern University, Boston - Bachelor of Science [B.S] Data Science and Biochemistry
adding-> University of Illinois, Chicago - Master of Science [M.S] Business Analytics
adding-> University of Illinois, Chicago - Master of Science [M.S] Business Analytics/ Management Information Systems
adding-> University of Illinois, Chicago - Master of Science [M.S] Business Analytics/Master of Business Administration [M.B.A]
adding-> University of Miami, Coral Gables - Master of Science [M.S] Business Analytics
adding-> University of Miami, Coral Gables - Master of Science [M.Sc] Electrical and Computer Engineering - Artificial Intelligence
adding-> University of Miami, Coral Gables - Bachelor of Science in Business Administration [B.S.B.A] Business Analytics
adding-> University of Iowa, Iowa City - Master of Science [M.S] Business Analytics
adding-> University of Utah, Salt Lake City - Master of Science [M.S] Business Analytics
adding-> University of Utah, Salt Lake City - Bachelor of Science [B.Sc] Data Science
adding-> George Washington University, Washington - Master of Science [M.S] Data Science
adding-> George Washington University, Washington - Master of Science [M.S] Business Analytics
adding-> George Washington University, Washington - Master of Science [M.S] Data Analytics
adding-> North Carolina State University, Raleigh - Master of Science [M.S] Computer Science - Data Science
adding-> North Carolina State University, Raleigh - Master of Science [M.S] Analytics
adding-> University of California, Riverside - Master of Science [M.S] Business Analytics
adding-> Florida State University, Tallahassee - Master of Science [M.Sc] Business Analytics
adding-> University of South Florida, Tampa - Master of Science [M.S] Business Analytics/Information Systems
adding-> University of South Florida, Tampa - Master of Science [M.S] Business Analytics and Information Systems
adding-> University of South Florida, Tampa - Master of Business Administration [M.B.A] Analytics and Business Intelligence
adding-> University of South Florida, Tampa - Doctor of Philosophy [Ph.D] Big Data Analytics
adding-> University of South Florida, Tampa - Bachelor of Science [B.S] Information Studies - Data Science and Analytics
adding-> University of South Florida, Tampa - Bachelor Business Analytics/Information Systems
adding-> University of South Florida, Tampa - Bachelor of Science [B.S] Business Analytics and Information Systems
adding-> University of South Florida, Tampa - Certificate Business Analytics and Information Systems
adding-> University of South Florida, Tampa - Bachelor of Science [B.S] Mathematics - Computational and Applied - Data Analytics and Business Intelligience
adding-> University at Buffalo, Buffalo - Master of Science [M.S] Engineering Science (Data Science)
adding-> University at Buffalo, Buffalo - Master of Science [M.S] Data Analytics in Social Science
adding-> University of Tennessee, Knoxville - Master of Science [M.S] Business Analytics
adding-> University of Tennessee, Knoxville - Master of Business Administration [M.B.A] Business Analytics
adding-> Drexel University, Philadelphia - Master of Science [M.S] Business Analytics
adding-> Drexel University, Philadelphia - Bachelor of Science [B.S] Business Administration (Business Analytics Co-Major)
adding-> Iowa State University, Ames - Master of Science [M.S] Business Analytics
adding-> Iowa State University, Ames - Bachelor of Science [B.S] Data Science
adding-> University of Georgia, Athens - Master of Science [M.S] Artificial Intelligence
adding-> University of Georgia, Athens - Master of Science [M.S] Business Analytics
adding-> Illinois Institute of Technology, Chicago - Master of Advanced Studies Data Science
adding-> Illinois Institute of Technology, Chicago - Master of Science [M.S] Artificial Intelligence
adding-> Illinois Institute of Technology, Chicago - Master of Advanced Studies Artificial Intelligence
adding-> Illinois Institute of Technology, Chicago - Bachelor of Science [B.S] Applied Statistics and Analytics
adding-> University of Colorado, Denver - Master of Science [M.S] Business Analytics
adding-> University of Colorado, Denver - Master of Science [M.S] Business Analytics
adding-> University of Colorado, Denver - Bachelor of Science [B.S] Computer Science
adding-> University of Kansas, Lawrence - Master of Science [M.S] Business Analytics
adding-> University of Kansas, Lawrence - Doctor of Philosophy [Ph.D] Biostatistics
adding-> University of Kansas, Lawrence - Master of Science [M.S] Biostatistics
adding-> Temple University, Philadelphia - Master of Science [M.S] Business Analytics
adding-> University of Texas Dallas, Richardson - Master of Science [M.S] Business Analytics

In [28]:
df = pd.DataFrame(universities)
df

,rank,name,state,acceptance rate,course,detail1,detail2,IELTS,TOEFL,PTE,GRE,Duolingo,SAT,GMAT
0,1,"Stanford University, Stanford","California, USA",4.8,Master of Science [M.S] Statistics - Data Science,2 years,On Campus,7.0,100,68,328,NaN,NaN,NaN
1,1,"Stanford University, Stanford","California, USA",4.8,Bachelor of Science [B.S] Computer Science - A...,4 years,On Campus,6.5,100,68,NaN,115,NaN,NaN
2,1,"Stanford University, Stanford","California, USA",4.8,Master of Science [M.Sc] Computer Science - Ar...,2 years,On Campus,7,100,68,328,NaN,NaN,NaN
3,2,"Massachusetts Institute of Technology, Cambridge","Massachusetts, USA",8.45,Master of Science [M.S] Business Analytics,12 months,On Campus,7.0,100,NaN,NaN,NaN,NaN,NaN
4,2,"Massachusetts Institute of Technology, Cambridge","Massachusetts, USA",8.45,"Bachelor of Science [B.S] Computer Science, Ec...",4 years,On Campus,NaN,90,NaN,NaN,NaN,1500,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,148,"Villanova University, Villanova","Pennsylvania, USA",43.5,Master of Science [M.S] Analytics,2 years,"Online, On Campus",6.5,90,NaN,314,NaN,NaN,NaN
360,149,"University of Massachusetts, North Dartmouth","Massachusetts, USA",,Master of Science [M.S] Data Science,2 years,English,6.5,95,75,297,NaN,NaN,NaN
361,149,"University of Massachusetts, North Dartmouth","Massachusetts, USA",,Bachelor of Science [B.S] Computer Science Ar...,4 years,On Campus,6.5,80,31,NaN,NaN,1370,NaN
362,149,"University of Massachusetts, North Dartmouth","Massachusetts, USA",,Bachelor of Science [B.S] Data Science,4 years,On Campus,6.5,80,31,NaN,NaN,1370,NaN
363,150,"Creighton University, Omaha","Nebraska, USA",70.7,Master of Science [M.S] Business Intelligence ...,1 year,English,6.5,90,49,NaN,NaN,NaN,NaN

In [29]:
df.to_excel('Universities_Extended_List.xlsx', index_label=True)